<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav docs-sidenav">
          <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
          </li>
  
          <li<%= sidebar_current("docs-elementsw-index") %>>
            <a href="/docs/providers/netapp/elementsw/index.html">ElementSW Provider</a>
          </li>
  
          <li<%= sidebar_current("docs-elementsw-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-elementsw-resource-account") %>>
                <a href="/docs/providers/netapp/elementsw/r/account.html">elementsw_account</a>
              </li>
              <li<%= sidebar_current("docs-elementsw-resource-initiator") %>>
                <a href="/docs/providers/netapp/elementsw/r/initiator.html">elementsw_initiator</a>
              </li>
              <li<%= sidebar_current("docs-elementsw-resource-volume-access-group") %>>
                <a href="/docs/providers/netapp/elementsw/r/volume-access-group.html">elementsw_volume_access_group</a>
              </li>
              <li<%= sidebar_current("docs-elementsw-resource-volume") %>>
                <a href="/docs/providers/netapp/elementsw/r/volume.html">elementsw_volume</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  
    <%= yield %>
  <% end %>
